{{ include("PalmeAnnaleBundle::header.html.twig") }}
<h3><ul class="nav nav-tabs">
        <li role="presentation" class="active" ><a href="{{ path('palme_annale_homepage') }}">Acceuil</a></li>
    <li role="presentation"><a href="{{ path('palme_annale_enseignant') }}">Enseignant</a></li>
    <li role="presentation"><a href="#">Etudiant</a></li>
  </ul>
</h3>







  {% block javascripts %}{% endblock %}